.br_color_black{
    border-color: black;
}
.br_color_white{
    border-color: white;
}
.br_color_red{
    border-color: red;
}
.br_color_purple{
    border-color: purple;
}
.br_color_green{
    border-color: green;
}
.br_color_blue{
    border-color: blue;
}
.br_color_cyan{
    border-color: cyan;
}
.br_color_brown{
    border-color:brown;
}
.br_color_gray{
    border-color: gray;
}

