.border_1px{
    border: solid 1px;
}
.border_2px{
    border: solid 2px;
}
.border_3px{
    border: solid 3px;
}
.border_4px{
    border: solid 4px;
}
.border_5px{
    border: solid 5px;
}
.border_6px{
    border: solid 6px;
}
.border_7px{
    border: solid 7px;
}
.border_8px{
    border: solid 8px;
}
.border_9px{
    border: solid 9px;
}
.border_10px{
    border: solid 10px;
}