.color_red{
    color: red;
}

.color_ablue{
    color:aliceblue;
}

.color_antiqwhite{
    color: antiquewhite;
}

.color_aqua{
    color: aqua;
}

.color_aquamar{
    color: aquamarine;
}

.color_azure{
    color: azure;
}

.color_beige{
    color: beige;
}

.color_bsq{
    color: bisque;
}

.color_black{
    color: black;
}

.color_blchalm{
    color: blanchedalmond;
}

.color_blue{
    color: blue;
}

.color_bluvio{
    color: blueviolet;
}

.color_brown{
    color:brown;
}

.color_brlywd{
    color: burlywood;
}

.color_cadtblu{
    color: cadetblue;
}

.color_chrtrs{
    color:chartreuse;
}

.color_jummy{
    color: chocolate;
}

.color_seaplant{
    color: coral;
}

.color_blueflower{
    color: cornflowerblue;
}

.color_silk{
    color: cornsilk;
}

.color_kingcrimson{
    color: crimson;
}

.color_cyan{
  color: cyan;  
}

.color_drkblu{
    color: darkblue;
}

.color_drkcyan{
    color: darkcyan;
}

.color_goldenrod{
    color: darkgoldenrod;
}

.color_x{
    
}

.color_x{
    
}

.color_x{
    
}

.color_x{
    
}

.color_x{
    
}

.color_x{
    
}

.color_x{
    
}

.color_x{
    
}

.color_x{
    
}

.color_x{
    
}

.color_x{
    
}

.color_x{
    
}

.color_x{
    
}

.color_x{
    
}

.color_x{
    
}

.color_x{
    
}

.color_x{
    
}