.rdbr_1px{
    border-radius: 1px;
}

.rdbr_2px{
    border-radius: 2px;
}

.rdbr_3px{
    border-radius: 3px;
}

.rdbr_4px{
    border-radius: 4px;
}

.rdbr_5px{
    border-radius: 5px;
}

.rdbr_6px{
    border-radius: 6px;
}

.rdbr_7px{
    border-radius: 7px;
}

.rdbr_8px{
    border-radius: 8px;
}

.rdbr_9px{
    border-radius: 9px;
}

.rdbr_10px{
    border-radius: 10px;
}

.rdbr_11px{
    border-radius: 11px;
}

.rdbr_12px{
    border-radius: 12px;
}
